<launch>
  <param name="use_sim_time" value="false" />

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
<!--    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
<!--    <rosparam command="load" file="$(find cyber_is_navigation)/config/global_planner.yaml" />-->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam command="load" file="$(find cyber_is_navigation)/config/navfn_planner.yaml" />



    <!--    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>-->
<!--    <rosparam command="load" file="$(find cyber_is_navigation)/config/teb_local_planner.yaml" />-->

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam command="load" file="$(find cyber_is_navigation)/config/dwa_local_planner_params.yaml" />


    <rosparam command="load" file="$(find cyber_is_navigation)/config/costmap_common.yaml"  ns="global_costmap" />
    <rosparam command="load" file="$(find cyber_is_navigation)/config/costmap_common.yaml" ns="local_costmap" />
<!--    <rosparam command="load" file="$(find cyber_is_navigation)/config/costmap.yaml" />-->
    <rosparam command="load" file="$(find cyber_is_navigation)/config/global_costmap.yaml" ns="global_costmap" />
    <rosparam command="load" file="$(find cyber_is_navigation)/config/local_costmap.yaml" ns="local_costmap" />
    <rosparam command="load" file="$(find cyber_is_navigation)/config/move_base.yaml"/>

  </node>
</launch>
