<launch>
    <include file="$(find cyber_is_description)/launch/description.launch"/>
    <include file="$(find cyber_is_navigation)/launch/slam/hector_precision.launch"/>
    <include file="$(find cyber_is_navigation)/launch/localization.launch"/>
    <include file="$(find cyber_is_navigation)/launch/move_base_dwa_p.launch"/>

</launch>
