
<launch>

    <arg name="p0x" default="-0.50" /> <arg name="p0y" default="0.25" />
    <arg name="p1x" default="1.75" /> <arg name="p1y" default="0.25" />
    <arg name="p2x" default="1.75" /> <arg name="p2y" default="0.75" />
    <arg name="p3x" default="-0.50" /> <arg name="p3y" default="0.75" />

    <arg name="frame_id"     default="map" />
    <arg name="final_orientation"     default="left" />
    <arg name="goal_timeout" default="300" />

    <rosparam param="/zone_navigator/zone_points" subst_value="true">
        - [$(arg p0x), $(arg p0y)]
        - [$(arg p1x), $(arg p1y)]
        - [$(arg p2x), $(arg p2y)]
        - [$(arg p3x), $(arg p3y)]
    </rosparam>

    <node pkg="cyber_is_mission_elements" type="zone_navigator" name="zone_navigator" output="screen">
        <param name="frame_id"     value="$(arg frame_id)" />
        <param name="final_orientation"     value="$(arg final_orientation)" />
        <param name="goal_timeout" value="$(arg goal_timeout)" type="double" />
    </node>

</launch>