<launch>
    <node name="cyber_is_mission_collector" pkg="cyber_is_mission_elements" type="mission_collector_node" output="screen">
        <param name="start_topic" value="/start_collection"/>
        <param name="odom_topic" value="/odom"/>
        <param name="battery_topic" value="/battery_state"/>
        <param name="duration_topic" value="/mission_duration"/>
        <param name="length_topic" value="/mission_length"/>
        <param name="energy_topic" value="/mission_energy"/>
        <param name="publish_rate" value="1.0"/>
    </node>
</launch>
